header, body, footer {
  font-family: “游ゴシック体“, “Helvetica Neue”,Arial,“Hiragino Kaku Gothic ProN”,“Hiragino Sans”,Meiryo,sans-serif;
  color: #66484B;
}
a {
  text-decoration: none;
  color: #66484b;
}
a:hover, a:focus {
  opacity: 0.5;
  transition: 0.5s;
  color: #66484b;
}
input:focus, button:focus {
  outline-color: #AC9F58;
  outline-width: medium;
  transition: 0.2s;
}
a:focus{
  outline: none;
}
footer {
  background-color: #58ac9f;
  color: #FFF;
  width: 100%;
  height:70px;
}
main {
  min-height: 620px;
  padding: 20px;
}

.center {
  text-align: center;
}

header {
  background-color: #58ac9f;
  color: #aaaaaa;
  font-size: 30px;
  padding: 30px;
  width: 100%;

}
.logo {
  background-color: #66484b;
  width: 180px;
  height: 70px;
  text-align: center;
}
.logo a{
  color:#58ac9f;
  line-height: 70px;
}


a:focus{
  color: #fff;
}
.right{
  position: absolute;
  right: 20px;
}
.btn-stitch {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  margin: 2px;
  min-width: 200px;
}

.btn-stitch-green {
  background: #58ac9f;
  color:#66484b;
  box-shadow: 0px 0px 0px 5px#58ac9f;
  border: dashed 2px #FFF;
}

.btn-stitch-gray {
  background: #e6e6e6;
  color:#66484b;
  box-shadow: 0px 0px 0px 5px#e6e6e6;
  border: dashed 2px #aaac8f;
}

.answer-btn {
  margin: 20px 0px;
}

.btn-stitch:hover {
  border: dotted 1px #FFF;
  margin-bottom: 4px;
}

button::before {
  content: ' ● ';
}
button::after {
  content: ' ● ';
}

.content {
  margin-bottom: 20px;
}
